---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostPreview from '../../components/PostPreview.astro';
import Paginator from '../../components/Paginator.astro';

export async function getStaticPaths({rss, paginate}) {
  const allPosts = await Astro.glob('./**/*.md');
  const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());

  return paginate(sortedPosts, {pageSize: 10});
}

let content = {
  title: "All Posts",
}

let { page } = Astro.props;
---

<BaseLayout content={content}>
  <div class="space-y-6">
		<h2 class="text-3xl font-extrabold">{content.title}</h2>

		<ul class="space-y-6 md:space-y-8">
      {page.data.map(post => (
        <li>
          <PostPreview post={post} tags={ post.tags } />
        </li>
      ))}
    </ul>
    <Paginator page={page} />
  </div>
</BaseLayout>
