@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Color Themes */

.theme-default {
  /* Base */
  --color-light-shade: 140 16% 96%; /* #FBFAFB */
  --color-light-accent: 221 20% 56%; /* #968592 */
  --color-main: 211 41% 45%; /* #4471A2 */
  --color-dark-accent: 347 46% 47%; /* #AE4158 */
  --color-dark-shade: 295 23% 10%; /* #222136 */
  --color-darker-shade: 240 22% 7%; /* #0E0E16 */

  /* UI */
  --color-ui-fg: 0 0% 100% /* #fff */;
  --color-ui-bg: var(--color-darkest-shade);
  --color-default: 0 0% 60%; /* #999999 */
  --color-primary: var(--color-main); /* #4b74ab */;
  --color-info: var(--color-darkest-shade);
  --color-success: 143 35% 46%; /* #4c9d6b */
  --color-warning: 36 60% 49%; /* #c98d33 */
  --color-danger: 4 90% 58%; /* #f44336 */
}

/* Typograhy Themes */
.typography-default {
  --font-body: 'Mulish';
  --font-heading: 'Rubik';
  --font-leading: 'Karma';
}

.prose pre {
  @apply shadow-lg;
}

.prose :where(code):not(:where([class~="not-prose"] *))::before {
  content: "";
}

.prose :where(code):not(:where([class~="not-prose"] *))::after {
  content: "";
}

.prose :where(code):not(:where([class~="not-prose"] *)) {
  @apply text-lightshade rounded-sm px-1;
  background: #282A36;
}

.prose pre.astro-code :where(code):not(:where([class~="not-prose"] *)) {
  @apply bg-transparent;
}

.prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"] *))::before {
  content: "";
}

.prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"] *))::after {
  content: "";
}

.prose blockquote {
  @apply text-lg border-l-main border-l-4 pr-2;
  font-family: var(--font-leading);
}

.prose a {
  @apply text-main no-underline hover:underline hover:underline-offset-2 break-words;
}

.prose table {
  @apply rounded-lg shadow-md;
}

.prose table th:first-child {
  @apply rounded-tl-md;
}

.prose table th:last-child {
  @apply rounded-tr-md;
}

.prose table th,
.prose table td {
  @apply px-4 py-2;
}

.prose table tr:hover {
  @apply bg-lightshade text-main font-bold;
}

.prose th {
  @apply font-bold font-heading bg-main text-lightshade;
}
