---
import '@styles/global.css';

import BaseLayout from '@layouts/BaseLayout.astro';
import PostPreview from '@components/PostPreview.astro';
//import { Icon } from 'astro-icon';

import siteData from '@data/site.json';

const allPosts = await Astro.glob('./posts/**/*.md');
const sortedPosts = allPosts.sort((a, b) => {
    let dateA = new Date(a.frontmatter.updated ? a.frontmatter.updated : a.frontmatter.date).valueOf();
    let dateB = new Date(b.frontmatter.updated ? b.frontmatter.updated : b.frontmatter.date).valueOf();
    return dateB - dateA;
  });

let content = {
	title: siteData.title,
};
---
<BaseLayout content={content}>

	<div class="space-y-6">
		<h2 class="text-3xl font-extrabold">Recent posts</h2>

		<ul class="space-y-6 md:space-y-8">
		{ sortedPosts.slice(0,10).map((post) => (
			<li>
				<PostPreview post={post} tags={post.frontmatter.tags} />
			</li>
		))}
		</ul>
	</div>

	<div class="mt-8 text-lg text-center hover:text-main">
		<a href="/posts">Browse All Posts</a>
	</div>
</BaseLayout>
