---
import '../styles/global.css';
import { Icon } from 'astro-icon';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body class='bg-slate-200'>
		<h1>Astro</h1>
		<Icon name="mdi:account" />
	</body>
</html>
